{% extends "base.html" %}

{% block content %}
    <div class="container">
    <div class="row">

        <div class="col-12 mb-3">
            {% if query %}
                Results search for: {{ query }}
                <hr/>
            {% endif %}
        </div>

        {% for obj in object_list %}
            <div class="col">
                {#        {% forloop.counter %} zlicza iteracje petli#}
                {% include 'products/snippets/card.html' with instance=obj %}
                {#        <a href="{{ obj.get_absolute_url }}"><p>{{ obj.title }}</p></a>#}
                {% if forloop.counter|divisibleby:4 %}
                    </div></div>
                    <div class="row">
                        <div class="col-12">
                            <hr/>
                        </div>
                        {% else %}
                    </div>
                {% endif %}


        {% endfor %}

{% endblock content %}
