{% extends "base.html" %}

{% block content %}
    <div class="container">
    <div class="row">
        {% for obj in object_list %}
            <div class="col">
                {#        {% forloop.counter %} zlicza iteracje petli#}
                {% include 'products/snippets/card.html' with instance=obj %}
                {#        <a href="{{ obj.get_absolute_url }}"><p>{{ obj.title }}</p></a>#}
                {% if forloop.counter|divisibleby:3 %}
                    </div></div>
                    <div class="row">
                        <div class="col-12">
                            <hr/>
                        </div>
                        {% else %}
                    </div>
                {% endif %}


        {% endfor %}

{% endblock content %}
